.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1B1B1B; /* Espresso Black */
}

.home-card {
  background-color: #3E2723; /* Dark Coffee Brown */
  color: #D4A373; /* Golden Caramel */
  padding: 40px;
  border-radius: 16px;
  text-align: center;
}

.home-title {
  margin-bottom: 20px;
  color: #A0522D; /* Cinnamon */
}

.logout-button {
  background-color: #A0522D; /* Cinnamon */
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #D4A373; /* Golden Caramel */
  color: #3E2723; /* Dark Coffee Brown */
}
